@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************/
body { 
	background: #f0f1f2;
	font-size: 14px;
}
.FL { float: left;} .FR { float: right;}
header {
	line-height: 100px;
	overflow: hidden;
}
.logo {
	color: #1d89e4;
	font-size: 50px;
	font-family: 'Pacifico', cursive, Arial;
	float: left;
	padding: 0 10px;
}

.slash{
	color: #93a3b0;
	font-size: 50px;
	margin: 0 15px;
	float: left;
	font-weight: normal;
}
.desc { 
	color: #b5bcc2;
	font-size: 22px;
	float: left;
}

.weekday {
	background-color: #fff;
	border: 1px solid #d8d8d9;
	float: left;
	height: 90%;
	margin: 1% 10px;
	overflow: hidden;
	width: 178px;
}
.weekday .head {
	border-bottom: inherit;
	overflow: hidden;
	padding: 3% 10px;
}
.weekday.Today {
	border: 1px solid #63a4db;
}
.weekday.Today span.day {
	color: #63a4db;
}
.weekday.Tomorrow {
	border: 1px solid #abcbe7;
}
.weekday.Tomorrow span.day{
	color: #abcbe7;
}
.weekday span{
	display: block;
	overflow: hidden;
}
.weekday .day {
	color: #7b7a77;
	font-weight: bold;
}
.weekday .date {
	color: #cfcecd;
	font-size: 12px;
}
.weekday ul {
	max-height: 78%;
	overflow-x: hidden;
	overflow-y: auto;
}
.weekday ul li {
	overflow: hidden;
	padding: 10px;
}
.weekday ul li span {
	border-bottom: 1px solid #cfcecd;
	display: block;
	padding: 5px 3%;
	overflow: hidden;
	position: relative;
}
.weekday ul li span .delBtn {
	background: #fff;
	-moz-box-shadow: 0px 0px 10px #bbb;
	-webkit-box-shadow: 0px 0px 10px #bbb;
	box-shadow: 0px 0px 10px #bbb;
	border: none;
	color: #cc0000;
	display: none;
	font-weight: bold;
	float: left;
	position: absolute;
	right: 0;
	top: 0;
}
.weekday ul li:hover {
	cursor: -webkit-move;
	cursor: -moz-move;
	cursor: move;
}
.weekday .addTaskBtn {
	color: #cfcecd;
	display: block;
	margin: 0 10px;
	padding: 5%;
	text-decoration: none;
}

/*
	Slider styles
*/
.slider {
	position: relative;
}
.slider .viewport {
	/*height: 500px;*/
	margin: 0 50px;
	overflow: hidden;
	position: relative;
}
.slider .container {
	height: 100%;
	position: absolute;
	left:0;
}
.slider .btn {
	background: url(../images/arrow.gif) no-repeat top left;
	width: 31px;
	height: 96px;
	position: absolute;
}
.slider .prevBtn {
	left: 10px;
	top: 150px;
}
.slider .nextBtn {
	right: 10px;
	top: 150px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
}


@media (max-width : 400px) {
	.logo, .desc {
		float: none;
		width: 100%;
	}
	.desc {
		font-size: 18px;
	}
	.weekday {
		width: 370px;
	}

	/* slider */
	.slider .viewport {
		margin: 0;
	}
	.slider .controls {
		display: none;
	}
}