/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************/
body { 
	background: #f0f1f2;
	font-size: 14px;
}

.FL { float: left;} .FR { float: right;}

.weekday {
	border: 1px solid #d8d8d9;
	display: inline-block;
	height: 478px;
	margin: 10px;
	padding: 10px;
	width: 178px;
}
.weekday .head {
	border-bottom: inherit;
	overflow: hidden;
	padding: 0 0 5px 0;
}
.weekday.today {
	border: 1px solid #63a4db;
}
.weekday.tomorrow {
	border: 1px solid #abcbe7;
}
.weekday span{
	display: block;
	overflow: hidden;
}
.weekday .day {
	color: #7b7a77;
	font-weight: bold;
}
.weekday .date {
	color: #cfcecd;
	font-size: 12px;
}
.weekday ul li {
	border-bottom: 1px solid #cfcecd;
	display: block;
	margin: 15px 0;
	padding: 5px 0;
}
.weekday .addTaskBtn {
	color: #cfcecd;
	padding: 5px;
}